footer {
    background-color: #ffffff;
    p {
        @include footer-font-size();
    }
    ul {
        list-style: none;
        padding: 0;
        li:nth-child(1) > a,
        li:nth-child(1) {
            font-weight: 600;
            @include footer-font-size();
        }
        li {
            padding: 7px 0px;
            a {
                text-decoration: none !important;
                list-style: none;
                text-transform: capitalize;
                color: #000000;
                @include footer-font-size();
                img {
                    width: 37.5px;
                    height: 25px;
                }
            }
        }
    }
}
