#nav-area {
  @media screen and (max-width: 992px) {
    .mobile-flex {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .second-div {
      order: -1;
    }
  }
  ul {
    padding-left: 0;
    margin-bottom: 0;
    li {
      list-style: none;
      a {
        text-transform: uppercase;
        text-decoration: none;
        font-size: 14px;
        line-height: 17px;
        &.is-active {
          font-weight: $font-bold-600;
        }
        &:hover {
          text-decoration: underline;
        }
      }
      img {
        border-radius: 50%;
        width: 23px;
        height: 23px;
      }
    }
  } 
}