@mixin content-width {
    max-width: 80%;
    margin: 0 auto;
}

@mixin text-positioning {
    display: grid;
    justify-content: start;
    align-items: center;
}

@mixin footer-font-size {
    font-size: 12px;
    line-height: 14.63px;
}

@mixin button-size-regular {
    font-size: 18px;
    // font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
}



