*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }

@import 'mixins';
@import 'header';
@import 'common-styles';
@import 'buttons';
@import 'main'; 
@import 'article';
@import 'textSlider';
@import 'end-section';
@import 'now-trending';
@import 'new-arrivals';
@import 'inspo-section';
@import 'recently-bought';
@import 'swiper';
@import 'footer';
@import 'custom-fa';


