* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: teal;
  height: 70px;
  position: relative;
}

.logo-header {
  position: absolute;
  width: 192.51px;
  height: 16px;
  left: 624px;
  top: 27px;
}

.left-nav {
  position: absolute;
  width: 356px;
  height: 35px;
  left: 24px;
  top: 18px;
}

.right-nav {
  position: absolute;
  width: 310px;
  height: 35px;
  left: 1107px;
  top: 18px;
}

.section-top {
  height: 50px;
}

.bg-gray {
  background: #F2F2F2;
}

.font-red {
  color: #C1272D;
}

.strikethrough {
  text-decoration: line-through;
}

.font-bold-600 {
  font-weight: 600;
}

.font-bold-800 {
  font-weight: 800;
}

.font-size-16 {
  font-size: 16px !important;
}

.font-size-32 {
  font-size: 32px !important;
}

.bg-black {
  background-color: #000000;
}

.font-white {
  color: #ffffff;
}

.font-black {
  color: #000000;
}

.font-black a {
  color: #000000;
}

h2 {
  font-size: 36px;
  font-weight: 800;
  line-height: 44px;
  letter-spacing: 0em;
  text-transform: capitalize;
}

.common-p {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
}

.button-regular-white {
  padding: 10px 20px;
  background: #000000;
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
}

.button-regular-black {
  padding: 10px 20px;
  background: #ffffff;
  color: #000000;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
}

.button-small-white {
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 50px;
  padding: 10px 20px;
}

article {
  background: white;
  min-height: 50vh;
  display: grid;
  justify-content: start;
  align-items: center;
}
article .article-main {
  max-width: 80%;
  margin: 0 auto;
}
article .article-main h1 {
  padding-top: 20px;
}
article .article-main .article-content {
  display: grid;
  grid-auto-flow: column;
  gap: 5%;
  padding: 20px 0;
}
article .article-main .article-content .article-content1 .for-iframe {
  width: 100%;
  height: 300px;
  max-width: 100%;
}
article .article-main .article-content p {
  margin-bottom: 20px;
}

.text-slider {
  min-height: 60vh;
  background: #eff4c7;
  display: grid;
  justify-content: center;
  align-items: center;
}

.end-section {
  min-height: 50vh;
  background: #f26641;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.end-section .section-height .grid-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
}
.end-section .section-height .grid-section .font-white p {
  color: white;
}
.end-section .section-height .grid-section .font-white a {
  color: white;
}
.end-section .section-height .to-center {
  text-align: center;
}
.end-section .section-height .to-center .image1 {
  width: auto;
  height: 250px;
  max-height: 100%;
}

#now-trending .container {
  max-width: 1054px;
  width: 100%;
}
#now-trending .container img {
  height: 300px;
  width: 225px;
}
#now-trending .container .font-bold-600 p {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-transform: uppercase;
}
#now-trending .container a {
  text-decoration: none;
}

@media screen and (min-width: 992px) {
  #now-trending .button-small-white {
    width: 147px !important;
  }
}
#new-arrivals {
  height: 400px;
  background: linear-gradient(90deg, rgba(255, 203, 124, 0) 0%, #FFCB7C 100%);
  mix-blend-mode: multiply;
}

#inspo-section img {
  height: 225px !important;
  width: 225px !important;
}

#recently-bought .custom-card {
  width: 225px;
  height: 390px;
  position: relative;
}
#recently-bought .custom-card img {
  height: 300px;
  width: auto;
}
#recently-bought .custom-card .price {
  position: absolute;
  bottom: 0;
}

.swiper {
  width: 80%;
  height: 80%;
}

.swiper-slide {
  text-align: left;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: start;
  display: flex;
  flex-direction: column;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0px !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  background-color: #ffffff;
}
footer p {
  font-size: 12px;
  line-height: 14.63px;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer ul li:nth-child(1) > a,
footer ul li:nth-child(1) {
  font-weight: 600;
  font-size: 12px;
  line-height: 14.63px;
}
footer ul li {
  padding: 7px 0px;
}
footer ul li a {
  text-decoration: none !important;
  list-style: none;
  text-transform: capitalize;
  color: #000000;
  font-size: 12px;
  line-height: 14.63px;
}
footer ul li a img {
  width: 37.5px;
  height: 25px;
}

i.fas.fa-caret-right {
  margin-right: 10px;
}/*# sourceMappingURL=style.css.map */